<!-- Wrapper with sidebar offset -->
<div class=" p-4">
  <!-- Flex Container for Charts -->
  <div class="md:flex items-center justify-center lg:space-x-14 mt-9 w-full">
    <!-- Bar Chart -->
    <div class="flex flex-col items-center gap-4 md:w-[45vw] w-[90vw]">
      <canvas id="barchart" class="w-full h-64"></canvas>
      
    </div>

    <!-- Pie Chart -->
    <div class="flex flex-col items-center gap-4 md:w-[27vw] w-[90vw] md:mt-0 mt-10">
      <canvas id="mychart" class="w-64 h-64"></canvas>
    </div>
  </div>
</div>
